---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$primary-color: #d8a8dc;         // Primary accent color (buttons, borders)
$link-color: #8f65cc;            // Standard hyperlink color
$link-color-hover: #bba3df;      // Link hover state

// Background & Surface Colors
$background-color: #cfe2f3;      // Main page background
$code-background-color: #e9ecef; // Code block background

// Text Colors
$text-color: #0b5394;            // Body text color
$muted-text-color: #6fa8dc;      // Metadata text (dates, tags)

// CUSTOM FOOTER COLORS
$footer-background-color: #b6d7a8; // Background color of footer
$footer-text-color: #6aa84f;       // Regular footer text color
$footer-link-color: #6aa84f;       // Footer links color ("Follow:", "LinkedIn", "Feed")
$footer-link-color-hover: #90cdf4; // Footer links hover color

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
